
@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="forgot-pw">
    <img src="images/pre-login/banner-with-overlay.jpg" id="forgot-pw-bg-img" alt="">
    <div id="forgot-pw-content">
        <div id="logo">
            <img src="images/pre-login/top-logo.png" alt="">
        </div>
        <div class="container" id="forgot-pw-form">
            <div id="forgot-pw-heading">
                <p>Forgot Password?</p>
            </div>
            <div id="forgot-pw-text-1">
                <p>Enter your email to reset your password</p>
            </div>
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <div class="form-group ip-text">
                    <div class="input-auth">
                        <label for="email">Email</label>
                        <input type="text" class="form-control input-field" name="emailId" id="email" placeholder="Enter your email" style="border: 1px solid #6255a5; margin-bottom: 30px;">
                    </div>
                </div>
                <div id="forgot-pw-btn">
                    <button type="submit" class="btn btn-forgot-pw">SUBMIT</button>
                </div>
            }
        </div>
    </div>

</section>

